html
    head 
        title merhaba pub
body
    - var okul = "Fırat Üniversitesi"
    - var sehir = "Elazığ"
    =okul
    br
    =sehir
    br
    | Bulunduğu şehir: #{sehir.toUpperCase()}
    br
    hr
    - var sayi = 12
    if !sayi
        | sayı değişkeni yok
    else if sayi==12
        | sayı 12
    else
        | sayı 12 değil
    hr
    span(style="color: white; background-color: red")
        | Merhaba Pug {#{name } #{surname}}  
        //- index sayfasından gelen değişkenler
        br
        =name

    br
    include footer

    ul
        each val in [1, 2, 3, 4, 5]
            li= val

    ul
        each val, index in {1:'one',2:'two',3:'three'}
            li= index + ': ' + val
